{{ form_start(form) }}
<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {% if(form_errors(form.ci)) %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ form_errors(form.ci) }}</strong>
                    </div>
                {% endif %}
                <label>{{ form_label(form.ci, 'CI (*):') }}</label>
                {{ form_widget(form.ci, { 'attr': { 'class': 'form-control' } }) }}
            </div>

            <div class="form-group">
                {% if(form_errors(form.nombre)) %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ form_errors(form.nombre) }}</strong>
                    </div>
                {% endif %}
                <label>{{ form_label(form.nombre, 'Nombre (*):') }}</label>
                {{ form_widget(form.nombre, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                {% if(form_errors(form.noregistro)) %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ form_errors(form.noregistro) }}</strong>
                    </div>
                {% endif %}
                <label>{{ form_label(form.noregistro, 'No. Registro (*):') }}</label>
                {{ form_widget(form.noregistro, { 'attr': { 'class': 'form-control' } }) }}
            </div>

            <div class="form-group">
                {% if(form_errors(form.apellidos)) %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ form_errors(form.apellidos) }}</strong>
                    </div>
                {% endif %}
                <label>{{ form_label(form.apellidos, 'Apellidos (*):') }}</label>
                {{ form_widget(form.apellidos, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                {% if(form_errors(form.sexo)) %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ form_errors(form.sexo) }}</strong>
                    </div>
                {% endif %}
                <label>{{ form_label(form.sexo, 'Sexo (*):') }}</label>
                {{ form_widget(form.sexo, { 'attr': { 'class': 'form-control select2' } }) }}
            </div>

            <div class="form-group">
                {% if(form_errors(form.autobliografia)) %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ form_errors(form.autobliografia) }}</strong>
                    </div>
                {% endif %}
                <label>{{ form_label(form.autobliografia, 'Autobiografía:') }}</label>
                {{ form_widget(form.autobliografia, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                {% if(form_errors(form.telefonofijo)) %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ form_errors(form.telefonofijo) }}</strong>
                    </div>
                {% endif %}
                <label>{{ form_label(form.telefonofijo, 'Telefono Fijo:') }}</label>
                {{ form_widget(form.telefonofijo, { 'attr': { 'class': 'form-control' } }) }}
            </div>

            <div class="form-group">
                {% if(form_errors(form.direccionparticular)) %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ form_errors(form.direccionparticular) }}</strong>
                    </div>
                {% endif %}
                <label>{{ form_label(form.direccionparticular, 'Dirección Particular:') }}</label>
                {{ form_widget(form.direccionparticular, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                {% if(form_errors(form.movil)) %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ form_errors(form.movil) }}</strong>
                    </div>
                {% endif %}
                <label>{{ form_label(form.movil, 'Móvil:') }}</label>
                {{ form_widget(form.movil, { 'attr': { 'class': 'form-control' } }) }}
            </div>

            <div class="form-group">
                {% if(form_errors(form.email)) %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ form_errors(form.email) }}</strong>
                    </div>
                {% endif %}
                <label>{{ form_label(form.email, 'Email:') }}</label>
                {{ form_widget(form.email, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                {% if(form_errors(form.nacionalidad)) %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ form_errors(form.nacionalidad) }}</strong>
                    </div>
                {% endif %}
                <label>{{ form_label(form.nacionalidad, 'Nacionalidad (*):') }}</label>
                {{ form_widget(form.nacionalidad, { 'attr': { 'class': 'form-control select2' } }) }}
            </div>

            <div class="form-group">
                {% if(form_errors(form.cargo)) %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ form_errors(form.cargo) }}</strong>
                    </div>
                {% endif %}
                <label>{{ form_label(form.cargo, 'Cargo (*):') }}</label>
                {{ form_widget(form.cargo, { 'attr': { 'class': 'form-control select2' } }) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                {% if(form_errors(form.especialidad)) %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ form_errors(form.especialidad) }}</strong>
                    </div>
                {% endif %}
                <label>{{ form_label(form.especialidad, 'Especialidad (*):') }}</label>
                {{ form_widget(form.especialidad, { 'attr': { 'class': 'form-control select2' } }) }}
            </div>

            <div class="form-group">
                {% if(form_errors(form.organizacionpolitica)) %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ form_errors(form.organizacionpolitica) }}</strong>
                    </div>
                {% endif %}
                <label>{{ form_label(form.organizacionpolitica, 'Organización Política (*):') }}</label>
                {{ form_widget(form.organizacionpolitica, { 'attr': { 'class': 'form-control select2', 'multiple': 'multiple' } }) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                {% if(form_errors(form.categoriadocente)) %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ form_errors(form.categoriadocente) }}</strong>
                    </div>
                {% endif %}
                <label>{{ form_label(form.categoriadocente, 'Categoría Docente (*):') }}</label>
                {{ form_widget(form.categoriadocente, { 'attr': { 'class': 'form-control select2' } }) }}
            </div>

            <div class="form-group">
                {% if(form_errors(form.categoriacientifica)) %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ form_errors(form.categoriacientifica) }}</strong>
                    </div>
                {% endif %}
                <label>{{ form_label(form.categoriacientifica, 'Categoría Científica (*):') }}</label>
                {{ form_widget(form.categoriacientifica, { 'attr': { 'class': 'form-control select2' } }) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                {% if(form_errors(form.mision)) %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ form_errors(form.mision) }}</strong>
                    </div>
                {% endif %}
                <label>{{ form_label(form.mision, 'Misión (*):') }}</label>
                {{ form_widget(form.mision, { 'attr': { 'class': 'form-control select2' } }) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                {% if(form_errors(form.imageFile)) %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ form_errors(form.imageFile) }}</strong>
                    </div>
                {% endif %}
                <label>{{ form_label(form.imageFile, 'Imagen:') }}</label>
                {{ form_widget(form.imageFile, { 'attr': { 'class': 'form-control custom-file-input', 'type': 'file' } }) }}
            </div>
        </div>
    </div>
</div>
<ul>
    <button class="btn btn-success"><i class="fa fa-plus"></i> {{ button_label|default('Añadir Personal') }}</button>
    <button class="btn btn-outline-info"><i class="icofont icofont-exchange"></i><a href="{{ path('personal_index') }}">Volver al Listado</a></button>
</ul>
{{ form_end(form) }}