<!doctype html>
<html lang="es">
<head>
    <title>PDF Pacientes</title>
</head>
<body>
        <table>
            <tr>
                <th>#</th>
                <th>C.I.</th>
                <th>Historia Clínica</th>
                <th>Nombre y Apellidos</th>
                <th>Sexo</th>
                <th>Edad</th>
            </tr>
            {% for entity in entities %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ entity.ci }}</td>
                    <td>{{ entity.hc }}</td>
                    <td>{{ entity.nombrecompleto }}</td>
                    <td>{{ entity.sexo }}</td>
                    <td>{{ entity.edad }}</td>
                </tr>
            {% endfor %}
        </table>
</body>
</html>