{{ form_start(form) }}
<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {% if(form_errors(form.nombre)) %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ form_errors(form.nombre) }}</strong>
                    </div>
                {% endif %}
                <label>{{ form_label(form.nombre, 'Categoría de Paciente (*):') }}</label>
                {{ form_widget(form.nombre, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>
    </div>
    <button class="btn btn-success"><i class="fa fa-plus"></i> {{ button_label|default('Añadir Categoría Paciente') }}</button>
    <button class="btn btn-outline-info"><i class="icofont icofont-exchange"></i><a href="{{ path('categoriapaciente_index') }}">Volver al Listado</a></button>
</div>
{{ form_end(form) }}