{% extends 'base.html.twig' %}
{% block titlepage %}Añadir Area Salud{% endblock %}
{% block page_header %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>CENTRO SALUD</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Centro Salud</li>
                        <li class="breadcrumb-item">Listado Area Salud</li>
                        <li class="breadcrumb-item active">Añadir Area Salud</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock %}
{% block contenido %}
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title"><strong>Añadir</strong> Area de Salud</h3>
            </div>
            {{ include('areasalud/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script>
$('#{{ form.provincia.vars.id }}').on('change', function (e) {
        var data = {
            provincia_id: $(this).val()
        };
        $('#{{ form.municipio.vars.id }}').html('<option>Cargando...</option>');
        $('#{{ form.municipio.vars.id }}').attr('disabled', 'disabled');
        $.ajax({
            type: 'POST',
            url: '{{ path('municipioa_x_provinciaa') }}',
            async: true,
            data: data,
            success: function (response) {
                if (response.length != 0){
                    var option = '<option>Seleccione el Municipio</option>';
                    $.each(response, function (i, municipio) {
                        option += '<option value='+ municipio.id +'>'+ municipio.nombre +'</option>'
                    });
                    $('#{{ form.municipio.vars.id }}').html(option);
                    $('#{{ form.municipio.vars.id }}').removeAttr('disabled');
                } else {
                    var option = '<option>No hay Municipios en esta Provincia.</option>';
                    $('#{{ form.municipio.vars.id }}').html(option);
                    $('#{{ form.municipio.vars.id }}').attr('disabled', 'disabled');
                    noty({
                        text: 'No se encontraron Municipios de la Provincia seleccionada.',
                        layout: 'topRight', type: 'error', timeout: 5000,
                    });
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>
{% endblock %}