<aside class="main-sidebar sidebar-dark-indigo elevation-4">
    <!-- Brand Logo -->
    <a href="{{ path('app_home') }}" class="brand-link">
        <img src="{{ asset('page/images/icono.png') }}" alt="AdminLTE Logo" class="brand-image img-fluid elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light"><strong>Sistema ~ COVID19</strong></span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                {% for user in usuario %}
                    {% if user.username == app.user.username and user.image != null %}
                        <img src="{{ vich_uploader_asset(user, 'imageFile', 'App\\Entity\\User') }}" alt="{{ user.username }}" class="img-circle elevation-2">
                    {% elseif user.username == app.user.username and user.image == null %}
                        <img src="{{ asset('page/images/user.png') }}" class="img-circle elevation-2" alt="User-Profile-Image">
                    {% endif %}
                {% endfor %}
            </div>
            <div class="info">
                <a href="#" class="d-block">Hola {{ app.user.username }}!</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column text-sm" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-header">ADMIN - PERSONAL</li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-desktop"></i>
                        <p>
                            Dashboard
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('easyadmin') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Panel Usuario</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('dh_doctrine_audit_list_audits') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Auditoría</p>
                                <span class="badge badge-danger right">Beta</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('file_manager', {'conf': 'default' }) }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>File Manager</p>
								<span class="badge badge-danger right">Beta</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Paciente
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('personal_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listado Panciente</p>
                                <span class="badge badge-info right">
                                    {% set contador = 0 %}
                                    {% for per in personales  %}

                                        {% if per.id == null %}
                                            {% set contador = 0 %}
                                        {% else %}
                                            {% set contador = contador + 1 %}
                                        {% endif %}

                                    {% endfor %}
                                    {{ contador }}
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('sexo_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listado Sexo</p>
                                <span class="badge badge-info right">
                                    {% set contador = 0 %}
                                    {% for sex in sexo  %}

                                        {% if sex.id == null %}
                                            {% set contador = 0 %}
                                        {% else %}
                                            {% set contador = contador + 1 %}
                                        {% endif %}

                                    {% endfor %}
                                    {{ contador }}
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('categoriapaciente_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Categoría Paciente</p>
                                <span class="badge badge-info right">
                                    {% set contador = 0 %}
                                    {% for categpac in categoriapaciente  %}

                                        {% if categpac.id == null %}
                                            {% set contador = 0 %}
                                        {% else %}
                                            {% set contador = contador + 1 %}
                                        {% endif %}

                                    {% endfor %}
                                    {{ contador }}
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header">LOCALIZACIÓN - GENERAL</li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-map-marked"></i>
                        <p>
                            Localización
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('pais_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listado País</p>
                                <span class="badge badge-info right">
                                    {% set contador = 0 %}
                                    {% for pai in pais  %}

                                        {% if pai.id == null %}
                                            {% set contador = 0 %}
                                        {% else %}
                                            {% set contador = contador + 1 %}
                                        {% endif %}

                                    {% endfor %}
                                    {{ contador }}
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('provincia_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listado Provincia</p>
                                <span class="badge badge-info right">
                                    {% set contador = 0 %}
                                    {% for pro in provincia  %}

                                        {% if pro.id == null %}
                                            {% set contador = 0 %}
                                        {% else %}
                                            {% set contador = contador + 1 %}
                                        {% endif %}

                                    {% endfor %}
                                    {{ contador }}
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('municipio_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listado Municipio</p>
                                <span class="badge badge-info right">
                                    {% set contador = 0 %}
                                    {% for mun in municipio  %}

                                        {% if mun.id == null %}
                                            {% set contador = 0 %}
                                        {% else %}
                                            {% set contador = contador + 1 %}
                                        {% endif %}

                                    {% endfor %}
                                    {{ contador }}
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('nacionalidad_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listado Nacionalidad</p>
                                <span class="badge badge-info right">
                                    {% set contador = 0 %}
                                    {% for nac in nacionalidad  %}

                                        {% if nac.id == null %}
                                            {% set contador = 0 %}
                                        {% else %}
                                            {% set contador = contador + 1 %}
                                        {% endif %}

                                    {% endfor %}
                                    {{ contador }}
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-portrait"></i>
                        <p>
                            General
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('consejopopular_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Consejo Popular</p>
                                <span class="badge badge-info right">
                                    {% set contador = 0 %}
                                    {% for conse in consejopopular  %}

                                        {% if conse.id == null %}
                                            {% set contador = 0 %}
                                        {% else %}
                                            {% set contador = contador + 1 %}
                                        {% endif %}

                                    {% endfor %}
                                    {{ contador }}
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header">CENTRO SALUD</li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-hospital"></i>
                        <p>
                            Centro Salud
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('hospital_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listado Hospital</p>
                                <span class="badge badge-info right">
                                    {% set contador = 0 %}
                                    {% for hosp in hospital  %}

                                        {% if hosp.id == null %}
                                            {% set contador = 0 %}
                                        {% else %}
                                            {% set contador = contador + 1 %}
                                        {% endif %}

                                    {% endfor %}
                                    {{ contador }}
                                </span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('areasalud_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listado Area Salud</p>
                                <span class="badge badge-info right">
                                    {% set contador = 0 %}
                                    {% for areas in areasalud  %}

                                        {% if areas.id == null %}
                                            {% set contador = 0 %}
                                        {% else %}
                                            {% set contador = contador + 1 %}
                                        {% endif %}

                                    {% endfor %}
                                    {{ contador }}
                                </span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Clínico
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{{ path('estadoingreso_index') }}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Listado Estado Ingreso</p>
                                        <span class="badge badge-info right">
                                            {% set contador = 0 %}
                                            {% for estadosing in estadoingreso  %}

                                                {% if estadosing.id == null %}
                                                    {% set contador = 0 %}
                                                {% else %}
                                                    {% set contador = contador + 1 %}
                                                {% endif %}

                                            {% endfor %}
                                            {{ contador }}
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('sintomaingreso_index') }}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Síntoma Ingreso</p>
                                        <span class="badge badge-info right">
                                        {% set contador = 0 %}
                                            {% for sintomaing in sintomasingreso  %}

                                                {% if sintomaing.id == null %}
                                                    {% set contador = 0 %}
                                                {% else %}
                                                    {% set contador = contador + 1 %}
                                                {% endif %}

                                            {% endfor %}
                                        {{ contador }}
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('resultado_index') }}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Resultados</p>
                                        <span class="badge badge-info right">
                                        {% set contador = 0 %}
                                            {% for result in resultado  %}

                                                {% if result.id == null %}
                                                    {% set contador = 0 %}
                                                {% else %}
                                                    {% set contador = contador + 1 %}
                                                {% endif %}

                                            {% endfor %}
                                            {{ contador }}
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="nav-header">VIAJERO</li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-plane-departure"></i>
                        <p>
                            Categoría Viajero
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('categoriaviajero_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Categoría Viajero</p>
                                <span class="badge badge-info right">
                                    {% set contador = 0 %}
                                    {% for cat in categoriaviajero  %}

                                        {% if cat.id == null %}
                                            {% set contador = 0 %}
                                        {% else %}
                                            {% set contador = contador + 1 %}
                                        {% endif %}

                                    {% endfor %}
                                    {{ contador }}
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>