{% extends 'base.html.twig' %}
{% block titlepage %}Editar CMF{% endblock %}
{% block page_header %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>CENTRO SALUD</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Centro Salud</li>
                        <li class="breadcrumb-item">Listado CMF</li>
                        <li class="breadcrumb-item active">Editar CMF</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock %}
{% block contenido %}
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title"><strong>Actualizar</strong> CMF</h3>
            </div>
            {{ include('consultoriomedico/_form.html.twig', {'button_label': 'Actualizar CMF'}) }}
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script>
$('#{{ form.provincia.vars.id }}').on('change', function (e) {
            var data = {
                provincia_id: $(this).val()
            };
            $.ajax({
                type: 'post',
                url: '{{ path('municipioc_x_provinciac') }}',
                data: data,
                success: function (response) {
                    if (response.length != 0){
                        var option = '<option>Seleccione el Municipio</option>';
                        $.each(response, function (i, municipio) {
                            option += '<option value='+ municipio.id +'>'+ municipio.nombre +'</option>'
                        });
                        $('#{{ form.municipio.vars.id }}').html(option);
                        $('#{{ form.municipio.vars.id }}').removeAttr('disabled');
                    } else {
                        var option = '<option>No hay Municipios en esta Provincia.</option>';
                        $('#{{ form.municipio.vars.id }}').html(option);
                        $('#{{ form.municipio.vars.id }}').attr('disabled', 'disabled');
                        var option1 = '<option>No hay Areas de Salud en esta Provincia.</option>';
                        $('#{{ form.areasalud.vars.id }}').html(option1);
                        $('#{{ form.areasalud.vars.id }}').attr('disabled', 'disabled');
                        noty({
                            text: 'No se encontraron Municipios de la Provincia seleccionada.',
                            layout: 'topRight', type: 'error', timeout: 5000,
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
    });

    $('#{{ form.municipio.vars.id }}').on('change', function (e) {
            var data = {
                municipio_id: $(this).val()
            };
            $.ajax({
                type: 'post',
                url: '{{ path('areasaludcon_x_municipiocon') }}',
                data: data,
                success: function (response) {
                    if (response.length != 0){
                        var option = '<option>Seleccione el Area de Salud</option>';
                        $.each(response, function (i, areasalud) {
                            option += '<option value='+ areasalud.id +'>'+ areasalud.nombre +'</option>'
                        });
                        $('#{{ form.areasalud.vars.id }}').html(option);
                        $('#{{ form.areasalud.vars.id }}').removeAttr('disabled');
                    } else {
                        var option = '<option>No hay Areas de Salud en este Municipio.</option>';
                        $('#{{ form.areasalud.vars.id }}').html(option);
                        $('#{{ form.areasalud.vars.id }}').attr('disabled', 'disabled');
                        noty({
                            text: 'No se encontraron Areas de Salud del Municipio seleccionado.',
                            layout: 'topRight', type: 'error', timeout: 5000,
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
    });
</script>
{% endblock %}